@font-face {
    font-family: "Goudy";
    src: url(./Fonts/Goudy\ Titling\ W05\ SemiBold.woff2);
}
@font-face {
    font-family: "Santral";
    src: url(./Fonts/taner-ardali-santral-book-2.otf);
}
*{
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
    width: 100%;
}